# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?



# Ignore unwanted files inside odyssey-py
odyssey-py/__pycache__/
odyssey-py/**/*.pyc
odyssey-py/*.egg-info/
odyssey-py/build/
odyssey-py/dist/
odyssey-py/README.MD
odyssey-py/LICENSE

# Ignore env and tests
odysseyenv/
dvenv/
test-app/
local-tests/
test-folder/

# Python cache
__pycache__/
*.pyc
.pytest_cache

# env
.env

# temp
docs/