# Ignore unwanted files inside odyssey-py
odyssey-py/__pycache__/
odyssey-py/**/*.pyc
odyssey-py/*.egg-info/
odyssey-py/build/
odyssey-py/dist/
odyssey-py/LICENSE

# Ignore env and tests
odysseyenv/
dvenv/
test-app/
local-tests/

# Python cache
__pycache__/
*.pyc
.pytest_cache